.components-dropdown-menu__popover:not(.is-mobile) {
	z-index: z-index(".components-dropdown-menu__popover");
}

.components-dropdown-menu__menu {
	padding-bottom: 0;
}

.block-editor-media-flow__url-input {
	padding: 0 15px 10px 25px;

	.components-external-link__icon {
		position: absolute;
		right: 50px;
		bottom: 22px;
	}

	.block-editor-url-popover__link-viewer-url.is-full-width {
		padding-right: 10px;
		padding-top: 3px;
		max-width: 169px;
	}

	// Mimic toolbar component styles for the icons in this popover.
	.components-icon-button {
		padding: 5px;
		width: 40px;
		height: 40px;

		> svg {
			padding: 5px;
			border-radius: $radius-round-rectangle;
			height: 30px;
			width: 30px;
		}

		&:not(:disabled):not([aria-disabled="true"]):not(.is-default):hover {
			box-shadow: none;

			> svg {
				@include formatting-button-style__hover;
			}
		}

		&:not(:disabled):focus {
			box-shadow: none;

			> svg {
				@include formatting-button-style__focus;
			}
		}
	}
}
.components-dropdown-menu.media-flow_toolbar {
	.components-dropdown-menu__label {
		margin-right: 6px;
		margin-left: 2px;
	}
}
