.components-custom-gradient-picker {
	height: 23px;
	width: 100%;
	border-radius: 20px;
	margin-top: 10px;
	padding-left: 5px;
	padding-right: 23px;

	.components-custom-gradient-picker__markers-container {
		position: relative;
	}

	.components-custom-gradient-picker__insert-point {
		border-radius: 50%;
		background: $white;
		padding: 2px;
		width: 23px;
		height: 23px;
		position: relative;
	}

	.components-custom-gradient-picker__control-point-button {
		border: 2px solid $white;
		border-radius: 50%;
		height: 18px;
		position: absolute;
		width: 18px;
		top: 2px;

		&.is-active {
			background: #fafafa;
			color: #23282d;
			border-color: #999;
			box-shadow:
				inset 0 -1px 0 #999,
				0 0 0 1px $white,
				0 0 0 3px $blue-medium-focus;
		}
	}
}

.components-custom-gradient-picker__color-picker-popover .components-custom-gradient-picker__remove-control-point {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-bottom: 8px;
}
